yo!

<form ng-submit="editTarget(targetID)">
    
    <div>
        <label for="companyName">Company Name:</label>
        <input type="text" name="companyName" ng-model="companyName" value="">
    </div>
    <div>
        <label for="numOfEmployees">Number of Employees:</label>
        <input type="number" name="numOfEmployees" ng-model="numOfEmployees" value="1">
    </div>
    <div>
        <label for="companyStatus">Status:</label>
        <input type="text" name="companyStatus" ng-model="companyStatus" value="">
    </div>
    <div>
        <label for="financialPerf">Financial Performance:</label>
        <input type="text" name="financialPerf" ng-model="financialPerf" value="">
    </div>
    <div>
        <label for="Contacts">Company Contacts:</label><br>
        <ul>
            <li>Name: <input type="text" name="financialPerf" ng-model="contactName" value=""></li>
            <li>Phone: <input type="text" name="financialPerf" ng-model="contactPhone" value=""></li>
            <li>Email: <input type="email" name="financialPerf" ng-model="contactEmail" value=""></li>
        </ul>    
    </div>
    <button type="submit">Edit Target</button>
</form>