<div class="edit-directions">
    <p>Here's the info we have on this company. Change whatever you'd like then hit Save Changes</p>
</div>

<div class="edit-form">
    <form ng-submit="editTarget()">
        
        <div class="forms-container">
            <div class="company-name-div label">
                <label for="companyName">Company Name:</label>
            </div>
            <div class="company-name-div input">
                <input type="text" name="companyName" ng-model="target.companyInfo.companyName" placeholder="Company Name">
            </div>
        </div>
        
        <div class="forms-container">
            <div class="employees-div label">
                <label for="numOfEmployees">Number of Employees:</label>
            </div>
            <div class="employees-div input">
                <input type="number" name="numOfEmployees" ng-model="target.companyInfo.numOfEmployees" placeholder="1">
            </div>
        </div>
        
        <div class="forms-container">
            <div class="company-status-div label">
                <label for="companyStatus">Status:</label>
            </div>
            <div class="company-status-div input">
                <select name="statusList" ng-model="target.companyStatus">
                    <option ng-repeat="option in statusList" value="{{option}}">{{option}}</option>
                </select>
            </div>
        </div>
        
        <div class="forms-container">
            <div class="financial-perf-div label">
                <label for="financialPerf">Financial Performance:</label>
            </div>
            <div class="financial-perf-div input">
                <select name="financialPerfList" ng-model="target.financialPerf">
                    <option ng-repeat="option in finacialPerfList" value="{{option}}">{{option}}</option>
                </select>
            </div>
        </div>
        
        <div class="forms-container">
            <div class="contacts-div label">
                <label for="Contacts">Company Contacts:</label>
            </div>
            <div class="contacts-div input">
                <ul ng-repeat="contact in arrayOfContacts track by contact.contactID">
                    <input type="hidden" ng-model="contact.contactID">
                    <li><input type="text" ng-model="contact.contactName" placeholder="Contact Name"></li>
                    <li><input type="text" ng-model="contact.contactPhone" placeholder="Contact Phone"></li>
                    <li style="margin-bottom:5px"><input type="email" ng-model="contact.contactEmail" placeholder="Contact Email"></li>
                </ul>
                <button class="add-another-contact" type="button" ng-click="addAnotherContact()">Add Another Contact</button> 
            </div>
        </div>
        
        <button class="create-update-button" type="submit">Save Changes</button>
    </form>
</div>

<div class="delete-button">
    <p class="delete-message">Would you like to delete this entry?</p>
    <button type="button" name="deleteButton" ng-click="deleteTarget(targetID)">Yes. Yes, I would.</button>
</div>
