<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="angular.js"></script>    
        <script src="angular-ui-router.js"></script>
        <script src="rolodex.js"></script>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Rajdhani" rel="stylesheet">
        <script src="https://use.fontawesome.com/08ad4eaf61.js"></script>
        <title>Rolodex</title>
    </head>
    <body ng-app="rolodex" ng-model="moreThanThree" ng-class="{more: moreThanThree}">
        
        <div class="app-body">
            
            <div class="container">
                <div class="header">
                    <div class="title">
                        <p class="main-title">Imma Aquire U Rolodex</p>
                        <p class="main-page-button" ng-hide="home" ng-click="goHome()">Main Page</p>
                    </div>
                    <div class="login" ng-controller="MainController">
                        <div class="logged-in-message" ng-show="loggedIn">
                            <p class="logged-in-text">Hello, <span class="user-name">{{username}}</span>, what companies would you like to aquire today?</p>
                            <p class="logout-button" ng-click="logOut()">Logout</p>
                        </div>
                        <div class="logged-out-message" ng-hide="loggedIn">
                            Do you wanna aquire companies? Yeah? Well, login, Buckaroo!<br>
                            <div class="sign-in-buttons">
                                <p ng-click="logIn()" class="sign-in">Sign In</p>
                                <p> | </p>
                                <p ng-click="logIn()" class="sign-up">Sign Up</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <ui-view></ui-view>
            </div>
            
            <div class="container">
                <div class="footer">
                    <p>made with <i class="fa fa-heart" aria-hidden="true"></i> by me</p>
                </div>
            </div>
            
        </div>
    </body>
</html>