body {
    margin: 0 5px;
    height: 100%;
    background-color: #1E6460;
    color: white;
    font-family: Rajdhani, sans-serif;
}

body.more {
    margin: 0 5px;
    background-color: #1E6460;
    color: white;
    font-family: Rajdhani, sans-serif;
}

/*html {
    height: 100%;
}*/

.app-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}

/* Start header styling*/
.header {
    width: 100%;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    width: 50%;
    height: 100%;
    margin: 0 5px;
}

.title p.main-title {
    margin: 0;
    font-size: 2em;
}

.title p.main-page-button {
    margin: 0;
    background-color: #621d21;
    width: 20%;
    border-radius: 10px;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.logged-in-text {
    margin: 5px 5px 0 5px;
}

.user-name {
    color: #1d2162;
}

p.logout-button {
    margin: 0;
    background-color: #621d21;
    width: 20%;
    font-size: .9em;
    border-radius: 10px;
    text-align: center;
    float: right;
}

.logged-out-message p {
    margin: 0;
}

.sign-in-buttons {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sign-in-buttons p {
    margin: 0 5px;
}

p.sign-in, p.sign-up {
    margin: 0;
    background-color: #621d21;
    width: 20%;
    font-size: .9em;
    border-radius: 10px;
    text-align: center;
}

/* End header styling */

/* Start home ui-view */
.rolodex-home {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.add-new, .see-all {
    width: 100%;
    text-align: center;
    font-size: 3em;
}
/* End home ui-view */

/* Start targets ui-view */
.company-headers {
    display: flex;
    flex-direction: row;
}

.company-headers p {
    background-color: #621d21;
    width: 20%;
    text-align: center;
    margin: 0;
}

.company-list {
    display: flex;
    flex-direction: row;
    /*background-color: #625f1d;*/
    background-color: #918f60;
}

.company-name, .company-contacts, .company-status, .company-perf, .company-comments {
    /*background-color: #918f60;*/
    background-color: #625f1d;
    width: 20%;
    text-align: center;
    margin: 5px 5px;
}

.company-info-name {
    font-size: 1.3em;
}

p.company-info-name {
    margin-bottom: 0;
}

.company-contacts ul {
    list-style: none;
    padding: 0;
}

.add-new-target-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* End targets ui-view */

/* Start addtarget/edit ui-view*/
.add-directions, .edit-directions {
    background-color: #1d2162;
    text-align: center;
}

.add-form, .edit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.forms-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.company-name-div, .employees-div, .company-status-div, .financial-perf-div, .contacts-div, .comments-div {
    width: 49%;
    margin-top: 5px;
}

.label {
    text-align: right;
}

.input {
    text-align: left;
}

.contacts-div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.create-update-button {
    margin-top: 10px;
}

.delete-button {
    text-align: right;
}

.delete-message {
    width: 100%;
    background-color: #621d21;
    text-align: right;
}

/* End addtarget/edit ui-view*/

/* Start footer styling */
.footer {
    background-color: white;
    color: #1E6460;
    width: 100%;
    height: 100%;
}

.footer p {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: .8em;
    text-align: center;
}

.fa-heart {
    color: pink;
}
/* End footer styling */