body {
    margin: 0;
    height: 100%;
    background-color: #1E6460;
    color: white;
}

.app-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Start header styling*/
.header {
    width: 100%;
    /*height: 50px;*/
    /*position: fixed;
    top: 0px;
    left: 0px; */
    border-style: solid;
    border-color: #1d2162;
    border-width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    border-style: solid;
    border-color: yellow;
    border-width: 5px;
    width: 50%;
    height: 100%
}

.title p {
    margin: 0;
}

.login {
    border-style: solid;
    border-color: red;
    border-width: 5px;
    display: flex;
    flex-direction: column;
}
/* End header styling */

/* Start home ui-view */
.rolodex-home {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.add-new, .see-all {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 100%;
    text-align: center;
}
/* End home ui-view */

/* Start targets ui-view */
.company-headers {
    display: flex;
    flex-direction: row;
}

.company-headers p {
    border-style: solid;
    border-color: #621d21;
    /*border-color: #625f1d;*/
    border-width: 5px;
    width: 24%;
    text-align: center;
}

.company-list {
    display: flex;
    flex-direction: row;
}

.company-name, .company-contacts, .company-status, .company-perf {
    border-style: solid;
    border-color: #1e6460;
    border-width: 5px;
    background-color: #625f1d;
    /*background-color: #621d21;*/
    width: 24%;
    text-align: center;
}

.company-contacts ul {
    list-style: none;
}
/* End targets ui-view */

/* Start footer styling */
.footer {
    width: 100%;
    height: 100%;
    /*position: fixed;
    bottom: 0px;
    left: 0px; */
}

.footer p {
    text-align: center;
}
/* End footer styling */