<p>Gonna view all targets!</p>

<div class="company-headers">
    <p>Company Name</p>
    <p>Company Contacts</p>
    <p>Company Status</p>
    <p>Company Financial Performance</p>
</div>
<div class="company-list" ng-repeat="company in companies">
    <div class="company-name">
        <p>{{company.companyInfo.companyName}} - {{company.id}}</p>
        <button type="button" name="editButton" ng-click="editButton(company.id)">Edit</button> | <button type="button" name="deleteButton" ng-click="deleteTarget(company.id)">Delete</button>
    </div>
    <div class="company-contacts">
        <ul>
            <li ng-repeat="contact in company.keyContacts">
            {{contact.contactName}}<br>
            {{contact.contactPhone}}<br>
            {{contact.contactEmail}}
            </li>
        </ul>
    </div>
    <div class="company-status">
        <p>{{company.companyStatus}}</p>
    </div>
    <div class="company-perf">
        <p>{{company.financialPerf}}</p>
    </div>
</div><br>

<button type="button" name="button" ng-click="addNewTarget()">Add New Target</button>
